MONGO_URI=mongodb+srv://ayushpan2603_db_user:RIyTLA0vSAWS54fD@cluster0.z7nrlnv.mongodb.net/?appName=Cluster0

SESSION_SECRET=Akp@263626362636

STEAM_API_KEY=8201D3DAD98C7FF2D19E435BF6C8A6D3

# The URL where your backend runs
BACKEND_URL = https://fraglog.vercel.app
# The URL where your frontend runs
FRONTEND_URL = https://fraglog.vercel.app
# Node environment
NODE_ENV = production
JWT_SECRET = JUGGDSLK929IJSSLLJIU9U9UJO;J9U2IIQ34646